*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}
*::selection{
    color: white;
    background: #000;
}
html,body{
    width:100%;
    height:100%;
    
}
#page1{
    /* the height should be minimum 100vh*/
   min-height: 100vh; 
   /* background: black; */
    width:100vw;
    padding: 0vw 1vw;
    position: relative;
    padding-top: 30.5vh;
}

#page1 h1{
    font-size: 16vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 14vw;
    letter-spacing: -8px;
}
#video-container{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: gray; */
    margin-top: 1vw;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-container #play{
    padding: 3vw 2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    font-family: futura;
    position:fixed;
    border-radius:50%;
    opacity:0;
    scale: 0;

    
}

/* css for page 2 */
#page2{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    position: relative;
    display: flex;
    padding: 3vw 1vw;
    align-items: center;
    justify-content: space-between;
    
}
#page2 .elem{
    height: 100%;
    width: 32.5%;
    background-color: red;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}